/* Общие стили */
body {
  background-color: #f5e1c8; /* Светло-песочный фон */
  color: #4d3319; /* Тёмно-коричневый текст */
  font-family: 'Georgia', serif;
  margin: 0;
  padding: 0;
}

/* Стили заголовков */
h1,
h2 {
  text-align: center;
  color: #d4af37; /* Золотой */
}

/* Основные контейнеры */
.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background: rgba(
    245,
    222,
    179,
    0.95
  ); /* Светлый фон с лёгкой прозрачностью */
  border-radius: 15px;
  box-shadow: 0px 0px 20px rgba(139, 69, 19, 0.4); /* Более мягкая и широкая тень */
  border: 3px solid rgba(139, 69, 19, 0.2); /* Мягкая и неяркая рамка */
}

/* Стилизуем список заданий, персонажей, пользователей */
.list-container {
  background: #eed9c4; /* Светло-коричневый фон */
  border: 2px solid #c29d74;
  padding: 15px;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.3);
}

/* Кнопки */
.button {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  background: #4b7f52; /* Тёмно-зелёный */
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
}

.button:hover {
  background: #6aa469; /* Светло-зелёный */
}

/* Выравнивание полей ввода под заголовками */
form label {
  display: block;
  font-weight: bold;
  margin-top: 10px;
  color: #d4af37; /* Золотой */
}

form input,
form select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #c29d74;
  border-radius: 5px;
  background: #fdf5e6;
  color: #4d3319;
}

/* Анимация при наведении */
.list-container:hover {
  box-shadow: inset 0px 0px 12px rgba(0, 0, 0, 0.5);
  transform: scale(1.02);
  transition: 0.2s;
}
